@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0c121d] text-white min-h-screen;
}

/* Utility to hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}